# log files
app/api/logs/*.log
app/event_processors/create_order_service/logs/*.log
app/event_processors/order_action_service/logs/*.log
# elastic volume
/app/data/elastic/*
# zeebe volume
/app/data/zeebe/*
# pycharm files
/.idea



